<section class="property-binding">

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Gosto de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}" alt="BATATA">
    <br>
    <img [src]="urlImagem" alt="BATATA">
  </article>
  <article>
    <h3>Input/Output Properties</h3>
    <app-curso [nome]="nomeCurso"></app-curso>
    <contador [valor]="10" (mudouValor)="onMudouValor($event)"></contador>
  </article>
</section>
