<article>
  <h3>Two Way Data Binding</h3>
  <div>
    <input type="text"
    [value]="nome"
    (input)="nome = campoInput.value"
    #campoInput>
    <input type="text"
           [ngModel]="nome"
           (ngModelChange)="nome = $event.value">
    <input type="text"
           [(ngModel)]="nome">
    <p>Você digitou: {{ nome }}</p>
  </div>
  <div>
    <input type="text" [(ngModel)]="pessoa.nome">
    <input type="text" [(ngModel)]="pessoa.idade">
    <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>
  </div>

</article>
